<mat-card class="main-card">
    <mat-card-title>Postcoordination in the clinical setting</mat-card-title>
    <mat-card-content>
        <div class="h-container">
          <mat-tab-group class="h-card clinical" [selectedIndex]="0">
            <mat-tab label="Wrist fracture">
              <app-wrist-fracture (closeToUserForm)="updateCuf($event)"></app-wrist-fracture>
            </mat-tab>
            <mat-tab label="Odontogram finding">
              <app-odontogram (closeToUserForm)="updateCuf($event)"></app-odontogram>
            </mat-tab>
            <mat-tab label="Odontogram procedure">
              <app-odontogram-procedure (closeToUserForm)="updateCuf($event)"></app-odontogram-procedure>
            </mat-tab>
          </mat-tab-group>
          <button mat-flat-button color="primary" (click)="save()" class="action" 
              [disabled]="false"
              *ngIf="!loadingPatch">
                  Save
          </button>
          <mat-spinner [diameter]="30" color="accent" *ngIf="loadingPatch"></mat-spinner>
        </div>
        <div class="code-container">
          <mat-card class="ecl-card">
              <mat-card-title>ECL Results</mat-card-title>
              <mat-card-content>
                  <app-ecl-expand [ecl]="ecl"></app-ecl-expand>
              </mat-card-content>
          </mat-card>
      </div>
    </mat-card-content>
</mat-card>