<mat-card class="main-card">
    <mat-card-title>Postcoordination in the clinical setting</mat-card-title>
    <mat-card-content>
        <div class="h-container">
          <mat-tab-group class="h-card clinical" [selectedIndex]="0">
            <mat-tab label="Diagnosis">
              <app-clinical-transformation (closeToUserForm)="updateCuf($event)" (save)="save()"></app-clinical-transformation>
            </mat-tab>
            <mat-tab label="Wrist fracture">
              <app-wrist-fracture (closeToUserForm)="updateCuf($event)" (save)="save()"></app-wrist-fracture>
            </mat-tab>
            <mat-tab label="Odontogram finding">
              <app-odontogram (closeToUserForm)="updateCuf($event)" (save)="save()"></app-odontogram>
            </mat-tab>
            <mat-tab label="Odontogram procedure">
              <app-odontogram-procedure (closeToUserForm)="updateCuf($event)" (save)="save()"></app-odontogram-procedure>
            </mat-tab>
          </mat-tab-group>
          <!-- <div class="code-container h-card"> -->
            <mat-card class="h-code-card">
              <mat-card-title>Necessary Normal Form (NNF)</mat-card-title>
              <mat-card-content>
                <p class="code" [innerHTML]="getSafeHtml(necessaryNormalForm)"></p>
                <button mat-icon-button [cdkCopyToClipboard]="necessaryNormalForm" *ngIf="necessaryNormalForm" id="copy-icon" matTooltip="Copy to clipboard" class="muted">
                    <mat-icon>content_copy</mat-icon>
                </button>
              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-flat-button color="primary" (click)="save()" class="action" 
                    [disabled]="false"
                    *ngIf="!loadingPatch">
                        Update from from data
                </button> -->
                <mat-spinner [diameter]="30" color="accent" *ngIf="loadingPatch"></mat-spinner>
              </mat-card-actions>
            </mat-card>
          <!-- </div> -->
        </div>
        <div class="code-container">
          <mat-card class="ecl-card">
              <mat-card-title>ECL Results</mat-card-title>
              <mat-card-content>
                  <app-ecl-expand [ecl]="ecl" [equivalentConcept]="equivalentConcept"></app-ecl-expand>
              </mat-card-content>
          </mat-card>
      </div>
    </mat-card-content>
</mat-card>