<mat-card class="main-card">
    <mat-card-title>Postcoordination in the clinical setting</mat-card-title>
    <mat-card-content>
        <div class="h-container">
          <mat-tab-group class="h-card clinical" [selectedIndex]="0">
            <mat-tab label="Wrist fracture">
              <app-wrist-fracture (closeToUserForm)="updateCuf($event)"></app-wrist-fracture>
            </mat-tab>
            <mat-tab label="Odontogram">
              <app-odontogram (closeToUserForm)="updateCuf($event)"></app-odontogram>
            </mat-tab>
          </mat-tab-group>
          <!-- <mat-card class="h-code-card">
            <mat-card-content>
              <button mat-icon-button [cdkCopyToClipboard]="closeToUserForm" *ngIf="closeToUserForm" id="copy-icon" matTooltip="Copy to clipboard" class="muted">
                <mat-icon>content_copy</mat-icon>
              </button>
              <p class="code" [innerHTML]="getSafeHtml(closeToUserForm)"></p>
            </mat-card-content>
          </mat-card> -->
        </div>
        <div class="code-container">
          <mat-card class="ecl-card">
              <mat-card-title>ECL Results</mat-card-title>
              <mat-card-content>
                  <app-ecl-expand [ecl]="ecl"></app-ecl-expand>
              </mat-card-content>
          </mat-card>
      </div>
    </mat-card-content>
</mat-card>