<mat-tab-group>
    <mat-tab label="Close to user form" *ngIf="closeToUserForm">
        <p class="code" [innerHTML]="getSafeHtml(closeToUserForm)"></p>
        <button mat-icon-button [cdkCopyToClipboard]="closeToUserForm" id="copy-icon" matTooltip="Copy to clipboard" class="muted">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-tab>
    <mat-tab label="Classifiable form" *ngIf="classifiableForm">
        <p class="code" [innerHTML]="getSafeHtml(classifiableForm)"></p>
        <button mat-icon-button [cdkCopyToClipboard]="classifiableForm" id="copy-icon" matTooltip="Copy to clipboard" class="muted">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-tab>
    <mat-tab label="Necessary Normal Form" *ngIf="necessaryNormalForm">
        <p class="code" [innerHTML]="getSafeHtml(necessaryNormalForm)"></p>
        <button mat-icon-button [cdkCopyToClipboard]="necessaryNormalForm" id="copy-icon" matTooltip="Copy to clipboard" class="muted">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-tab>
</mat-tab-group>