<mat-toolbar>
  <img src="assets/img/small_logo.png" height="60px">
  <span id="title">Postcoordination demonstrator</span>
  <span class="example-spacer"></span>
  
  <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="serverMenu">FHIR Server: {{selectedServer.name}}</button>
  <mat-menu #serverMenu="matMenu">
    <button mat-menu-item *ngFor="let server of fhirServers" (click)="setFhirServer(server)">{{server.name}}</button>
  </mat-menu>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="editionsMenu">{{selectedEdition}}</button>
  <mat-menu #editionsMenu="matMenu" class="wide-menu">
    <ng-container *ngFor="let mainItem of editionsDetails">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem.editionName }}</button>
      <mat-menu #sub_menu="matMenu">
         <button *ngFor="let subItem of mainItem.editions" mat-menu-item (click)="setEdition(subItem)">{{ subItem.resource.title }}</button>
      </mat-menu>
    </ng-container>
  </mat-menu>
  
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">{{selectedLanguage}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">{{language}}</button>
  </mat-menu> -->

  <!-- <button mat-raised-button color="primary" (click)="this.excelService.exportAsExcelFile(this.bindingsForExport, 'bindings')">
    <mat-icon>cloud_download</mat-icon>&nbsp;&nbsp;Export Bindings
  </button> -->

  <a href="https://github.com/ihtsdo/iid-postcoordination" target="_blank" mat-raised-button color="primary"><mat-icon>info</mat-icon></a>

</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Forms view">
    <app-clinical-view></app-clinical-view>
  </mat-tab>
  <mat-tab label="Transformations">
    <app-pc-main></app-pc-main>
  </mat-tab>
  <mat-tab label="About this demo">
    <div class="container">
        <mat-card class="left-column">
          <mat-card-header>
            <mat-card-title>About the Postcoordination demonstrator</mat-card-title>
          </mat-card-header>
          <mat-card-content class="large-font">
            <br>
            <p>This demo complements <a href="https://confluence.ihtsdotools.org/display/DOCEXPPG/Practical+Guide+to+Postcoordination" target="_blank">
              SNOMED International's Practical Guide to Postcoordination</a>, 
              which is currently being developed. The front-end application showcases potential clinical 
              user interfaces that support postcoordination. It also provides a technical overview of the 
              postcoordinated expression generation process starting from the Close to User Form (CUF).</p>
            <p>The postcoordinated expressions are submitted to an expression repository and transformed into 
              the Classifiable Form (CF), which is then used to generate the Necessary Normal Form (NNF) by running a 
              description logic classifier. The expressions stored in the repository can be queried using ECL. 
              The processing and storage of expressions are handled by 
              <a href="https://github.com/IHTSDO/snowstorm-x" target="_blank">Snowstorm-X</a>, a development version of 
              Snowstorm that incorporates the FHIR APIs described in the postcoordination guide.</p>
            <p>This is a reference implementation and other terminology servers are expected to implement compatible APIs to support postcoordination.</p>
              <a href="https://github.com/IHTSDO/snowstorm-x" target="_blank"><img id="snowstorm-logo" src="assets/img/SNOWSTORM-logo.svg"></a>
          </mat-card-content>
        </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
