<mat-card class="clinical">
    <mat-card-title>Enter odontogram findings</mat-card-title>
    <mat-card-content>
      <button mat-icon-button color="primary" id="info-button" matTooltip="{{closeToUserFormForDisplay}}">
        <mat-icon>info</mat-icon>
      </button>   
      <div class="v-container">
        <mat-form-field class="single-field">
            <mat-label>Finding</mat-label>
            <input
              matInput
              [(ngModel)]="selectedToothFinding"
              (ngModelChange)="onToothFindingChange($event)"
              [matAutocomplete]="findingAuto"
              placeholder="Type to filter..."
            />
            <mat-autocomplete #findingAuto="matAutocomplete" [displayWith]="displayConcept">
              <mat-option [value]="null" class="muted">[Not applicable]</mat-option>
              <mat-option *ngFor="let item of filteredToothFindings" [value]="item">
                {{item.display}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="single-field">
          <mat-label>Tooth</mat-label>
            <input
              matInput
              [(ngModel)]="selectedTooth"
              (ngModelChange)="onToothChange($event)"
              [matAutocomplete]="toothAuto"
              placeholder="Type to filter..."
            />
            <mat-autocomplete #toothAuto="matAutocomplete" [displayWith]="displayConcept">
              <mat-option [value]="null" class="muted">[Not applicable]</mat-option>
              <mat-option *ngFor="let item of filteredTeeth" [value]="item">
                {{item.display}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div>
          <p class="light-weight">Select tooth surface:</p>
          <mat-checkbox *ngFor="let item of toothSurfaces" (change)="onCheckboxChange($event, item)">
            {{item.display}}
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-flat-button color="primary" (click)="saveExpression()" class="action" *ngIf="selectedTooth && selectedToothFinding && selectedToothSurfaces.length">Save</button>
      <button mat-flat-button color="primary" (click)="clean()" class="action">Clear</button>
    </mat-card-actions>
  </mat-card>
